<!doctype html>
<html lang="en">
 <head> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Document</title>
  <script src="/js/vue.js"></script>
  <script src="/js/vue-router.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/root.css">
 </head>
 <body> 
<div id="root">
 <h2 class="title">可编辑表格的增删改查 <a href="#/">[首页]</a><a href="#/add">[添加]</a></h2>
 <router-view>

 </router-view>
</div>
</body> 
</html>
<script src="/js/components.js"></script>
<script src="/js/root.js"></script>
